<div class="banner">
  <h1>All Coffee Selections</h1>
  <p>From exotic locales to classic favorites, explore our complete catalog of coffee blends and single origins.</p>
</div>

<div id="product-filters" class="filter-section">
  <%= form_tag products_path, method: :get, class: "filter-form" do %>
    <div class="filter-option">
      <%= label_tag :on_sale, 'On Sale' %>
      <%= check_box_tag :on_sale, 'true', params[:on_sale] == 'true' %>
    </div>
    
    <div class="filter-option">
      <%= label_tag :new, 'New' %>
      <%= check_box_tag :new, 'true', params[:new] == 'true' %>
    </div>
    
    <div class="filter-option">
      <%= label_tag :recently_updated, 'Recently Updated' %>
      <%= check_box_tag :recently_updated, 'true', params[:recently_updated] == 'true' %>
    </div>
    
    <%= submit_tag 'Filter', name: nil, class: "filter-button" %>
  <% end %>
</div>

<div class="products-list">
  <% @products.each do |product| %>
    <div class="product <%= 'on-sale' if product.on_sale %>">
      <%= image_tag product.image, class: 'product-image' if product.image.attached? %>
      <h3 class="product-name"><%= product.name %></h3>
      <%= link_to 'View Product', product_path(product), class: 'view-product-btn' %>
      <% if product.on_sale %>
        <div class="sale-badge">Sale!</div>
      <% end %>
    </div>
  <% end %>
</div>


<div class="pagination">
  <%= paginate @products, window: 2 %>
</div>
