<div class="product-details">
  <h1><%= @product.name %></h1>

  <%= image_tag @product.image, class: 'product-image' if @product.image.attached? %>

  <p><%= @product.description %></p>
  <strong>Price:</strong>
  <p><%= number_to_currency(@product.price) %></p>
  <strong>Quantity:</strong>
  <p><%= @product.quantity %></p>
  <strong>Region:</strong>
  <p><%= @product.region %></p>
  <strong>Weight:</strong>
  <p><%= @product.weight %>g</p>
  <strong>Roast Level:</strong>
  <p><%= @product.roast_level %></p>
  <strong>Flavor Profile:</strong>
  <p>[<%= @product.flavor_profile %>]</p>
  <strong>Grind Option:</strong>
  <p>[<%= @product.grind_option %>]</p>

<div class="cart">
  <%= form_tag add_to_cart_cart_path, method: :post do %>
    <%= hidden_field_tag :product_id, @product.id %>
    <%= label_tag :quantity, 'Quantity:' %>
    <%= number_field_tag :quantity, 1, min: 1, max: @product.quantity, class: 'quantity-field' %>
    <%= submit_tag 'Add to Cart', class: 'add-to-cart-btn' %>
  <% end %>
</div>

  <%= link_to 'Back to Products', products_path, class: 'back-btn' %>
</div>
